<section class="bg-gray-100 py-16">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl text-gray-900 font-bold mb-4">About Me</h2>
    <div class="flex flex-wrap items-center">
      <div class="w-full md:w-1/2 mb-4 md:mb-0">
        <img
          class="w-full h-auto rounded-md shadow-lg bg-inherit"
          src="../../assets/images/About Pic.jpg"
          alt="About Image"
        />
      </div>
      <div class="w-full md:w-1/2">
        <p class="text-gray-700 mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
          a bibendum sapien. Etiam rutrum vulputate turpis, in euismod ipsum
          ullamcorper vel est. Nam dignissim purus id enim ultricies, sed
          pharetra tellus rhoncus. Praesent euismod est nisi, a pellentesque
          eros tincidunt sit amet. Fusce sollicitudin lorem nec metus
          euismod iaculis. In hac habitasse platea dictumst. Ut dapibus
          libero et purus aliquet vestibulum. Fusce vitae arcu leo. Fusce
          eget justo quis libero imperdiet faucibus. In efficitur sem vel
          eros venenatis, ut blandit eros faucibus. Donec ullamcorper risus
          a tincidunt semper. Sed eu turpis sit amet magna malesuada
          fermentum vel ac nulla. Nulla maximus massa in justo fringilla
          fringilla.
        </p>
        <p class="text-gray-700 mb-4">
          Phasellus tempor sollicitudin enim eu pharetra. Vestibulum ante
          ipsum primis in faucibus orci luctus et ultrices posuere cubilia
          Curae; Aliquam in ligula libero. Vivamus sagittis sodales neque,
          sit amet maximus felis finibus nec. Etiam hendrerit dapibus massa
          in iaculis. Donec id ante euismod, malesuada dolor sed, bibendum
          tellus. Nulla at lacus vel magna dignissim dictum.
        </p>
        <p class="text-gray-700 mb-4">
          Curabitur efficitur nunc a mauris suscipit, vitae facilisis turpis
          malesuada. Morbi eleifend ex nec nisi auctor, eget volutpat lacus
          aliquam. Duis sit amet est imperdiet, venenatis purus eget,
          lobortis lacus. Etiam aliquet bibendum metus a sagittis.
          Suspendisse viverra in nisl sit amet egestas. Suspendisse sed
          sapien eget tellus volutpat blandit ut at ex. In commodo sodales
          massa, in laoreet ipsum commodo vel. Proin vel bibendum risus,
          quis tristique nibh. Vivamus commodo commodo est, vel rhoncus nunc
          bibendum vel. Nulla facilisi.
        </p>
      </div>
    </div>
  </div>
</section>
