
<nav class=" bg-emerald-300 bg-opacity-40 w-36 h-96  mt-40 mb-56 fixed  left-0 side-navbar ">

  <a routerLink="../aboutMe">

    <span
    [matTooltip]="aboutme"
    matTooltipPosition="right"
    matTooltipHideDelay="1000"
    matTooltipClass="my-tooltip-class">
   
 

  <img
    class="w-14 h-10 rounded-full text-center  mt20 "
    src="../../assets/images/filename.jpg"
    alt="Profile Picture"
  /> 
</span>
 </a>
  <!-- <div class="flex items-center mb-8">
    <div>
      <p class="text-gray-200 font-bold">Ayush Raj Pillai</p>
      <p class="text-gray-400 text-sm">Full Stack Developer</p>
    </div>
  </div> -->

  <ul class="text- ml-2">
    <li class="mb-5">
      <a routerLink="../home" class="flex items-center">
        <span
          [matTooltip]="home"
          matTooltipPosition="right"
          matTooltipHideDelay="1000"
          matTooltipClass="my-tooltip-class"
        >
          <mat-icon>home</mat-icon>
        </span>
      </a>
    </li>

    <li class="mb-5">
      <a routerLink="../home" class="flex items-center">
        <span
          [matTooltip]="projects"
          matTooltipPosition="right"
          matTooltipHideDelay="1000"
          matTooltipClass="my-tooltip-class"
        >
          <mat-icon class="material-icons">token</mat-icon>
        </span>
      </a>
    </li>

    <li class="mb-5">
      <a routerLink="../home" class="flex items-center">
        <span
          [matTooltip]="contact"
          matTooltipPosition="right"
          matTooltipHideDelay="1000"
          matTooltipClass="my-tooltip-class"
        >
          <mat-icon> contact_page</mat-icon>
        </span>
      </a>
    </li>



    


    <li class="mb-5">
      <a routerLink="../home" class="flex items-center">
        <span
          [matTooltip]="myblogs"
          matTooltipPosition="right"
          matTooltipHideDelay="1000"
          matTooltipClass="my-tooltip-class"
        >
          <mat-icon class="material-icons">rate_review</mat-icon>
        </span>
      </a>
    </li>


    

  </ul>

</nav>



<!-- <nav class="bg-gray-900 w-36 min-h-full py-8 px-4 fixed top-15 left-0">
  <div class="flex flex-col items-center justify-center h-full">
    <div class="w-16 h-16 rounded-full text-center mb-2 transform -skew-x-12">
      <img src="../../assets/images/filename.jpg" alt="Profile Picture" class="w-full h-full rounded-full transform skew-x-12">
    </div>
    <ul class="text-gray-200">
      <li class="mb-5">
        <a routerLink="../home" class="flex items-center">
          <span [matTooltip]="home" matTooltipPosition="right" matTooltipHideDelay="1000" matTooltipClass="my-tooltip-class">
            <mat-icon>home</mat-icon>
          </span>
        </a>
      </li>

      <li class="mb-5">
        <a routerLink="../home" class="flex items-center">
          <span [matTooltip]="projects" matTooltipPosition="right" matTooltipHideDelay="1000" matTooltipClass="my-tooltip-class">
            <mat-icon class="material-icons">token</mat-icon>
          </span>
        </a>
      </li>

      <li class="mb-5">
        <a routerLink="../home" class="flex items-center">
          <span [matTooltip]="contact" matTooltipPosition="right" matTooltipHideDelay="1000" matTooltipClass="my-tooltip-class">
            <mat-icon>contact_page</mat-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav> -->


