
/* 
matTooltip
{
  color: red!important;
} */

/* .mat-tooltip-background {
  background-color: red;
} */


/* .my-tooltip-class {
  background-color: #f00!important;
  color: #fff important;
  font-size: 14px important;
} */

/* 
.my-tooltip .mat-tooltip {
  background-color: #f00 !important;
  color: #fff !important;
  font-size: 14px !important;
} */







/* .tooltip-text {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.2s ease-in-out !important;
}

.tooltip:hover .tooltip-text {
  opacity: 1 !important;
  visibility: visible !important;
}

.bg-blue-500 {
  background-color: #3b82f6 !important;
}

.text-white {
  color: #fff !important;
} */


/* 
.tooltip-text {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  visibility: visible;
} */







/* .tooltip {
  position: relative;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.tooltip:hover:before {
  opacity: 1;
  visibility: visible;
} */
/* 

.sidebarr
{
  border-bottom: solid 115px!important ;
  border-top: 115px solid;

border-bottom: solid 200px rgb(30, 218, 218);
border-left: solid 115px transparent;
border-right: solid 115px transparent ;
border-top: 200px solid #10ecde;



width: 144px!important;
height: 320px!important;

} */








.side-navbar {
  position: fixed;
  top: 30%;
  left: 0;

  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  width: 60px;
  height: 370px;
 
  border-radius: 0 50px 50px 0;
  overflow: hidden;
}





.side-navbar a {
  
  margin: 10px 0px 10px 0px;
  display: block;
  padding: 10px;
  text-align: center;
 
  font-size: 16px;
  text-decoration: none;
}

