
 
<div class="bgg-img mx-12">

  <app-navbar></app-navbar>
 
  <main class="bg-inherit" >
   
    <div class="" >
      <section class="bg-gray-900 text-white py-6 ">
        <div class="container mx-auto">
          <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="md:w-1/2 mb-10 md:mb-0 ml-16">
              <h1 class="text-4xl text-white font-bold mb-4  md:text-6xl">
                Hi, I'm Ayush Raj Pillai |
               
                <span class="text-violet-300">{{ textToShow }}</span>
              </h1>

              <div class="flex">
                <button 
                  class="mr-4 bg-transparent hover:bg-gray-500 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded-md transition duration-200"
                >
                  Resume
                </button>
                <button
                  class="bg-transparent hover:bg-gray-500 text-white font-semibold hover:text-white py-2 px-4 border border-white hover:border-transparent rounded-md transition duration-200"
                >
                  Contact Me
                </button>
              </div>



            </div>
            <div class="md:w-1/2">
       
              <img
              class="w-64 h-64 rounded-md shadow-lg"
              src="../../assets/images/Mainpic.jpg"
              alt="Banner Image"/>


            </div>
          </div>
        </div>
      </section>
    </div>
    

<app-quotes></app-quotes>




<!-- <app-galaxy></app-galaxy> -->

    <app-skills></app-skills>

  

    <app-footer></app-footer>
  </main>

</div>