.cursor-blink {
  display: inline-block;
  width: 1px;
  height: 1em;
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


/* :host {
  background: transparent !important;
} */


.trnns{
  background-color: transparent!important;
}




/* .bgg-img
{


  background-image: url("../../assets/images/constelation.png");
width: 100%;
  min-height: 380px;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

} */